allure-results/
allure-report/
newman-report.html
newman-run-report-*.html
newman_reports/
results/
node_modules/
package-lock.json
.DS_Store
Thumbs.db
.idea/
.vscode/
.env
k6_tests/k6-report.json
k6_tests/k6-report.html