# Allure artefacts
allure-results/
allure-report/

# Newman HTML reports
newman/
*.html

# node / package managers
node_modules/

# System files
.DS_Store
Thumbs.db

# IDE configs
.idea/
.vscode/

# Env files
.env